#crx-sf-multisearch-inner {
  box-sizing: border-box;
  position: fixed;
  padding: 0px;  
  right: 20px;
  top: 20px;
  z-index: 2999999999;

  width: 296px;
  height: 250px;
  
  /*background: rgba(30, 30, 30, 0.98);*/
  box-shadow: 0px 0px 4.35px 0.65px rgba(0, 0, 0, 0.68);

  display: none;
}

#crx-sf-multisearch-inner iframe {
  border: 0px;
}